.example-card {
    padding: 56px 60px;
}

.mat-raised-button {
    background: linear-gradient(#242F68, #2E4095);
    color: white;

}
/* .mat-form-field + .mat-form-field {
    margin-left: 8px;
  } */
.mat-expansion-panel-header{
width:0px;
height: 20px;

  }
.mat-button {
    font-size: 12px;
    background-color: #FF6C00;
    color: white;
    border-radius: 6px;
    height: 30px;
    line-height: 10px;
}
.mat-button1 {
    font-size: 12px;
    background-color: #E30000;
    color: white;
    border-radius: 6px;
    height: 30px;
    line-height: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    text-align: left;
    padding: 8px;
}

.mat-raised-button {
    font-size: 12px;
    background: #00B52A;
    color: white;
    border-radius: 6px;
    height: 30px;
    line-height: 10px;
}

td {
    text-align: left;
}

th {
    text-align: left;
    background: linear-gradient(#242F68, #2E4095);
    color: white;
    opacity: 100%;
}

.search-input {
    font-size: small;
}

.mat-card {
    border-radius: 10px;
}

::ng-deep .search-input .mat-form-field-outline-start {

    border-radius: 5px 0 0 5px !important;

    min-width: 5px !important;

}

::ng-deep .search-input .mat-form-field-outline-end {

    border-radius: 0 5px 5px 0 !important;

}
