<div class="example-card" fxLayout="column" fxLayoutGap="20">
    <div fxLayout="row" fxLayoutAlign="space-between baseline">
        <mat-label style="font-size: 20px">Individuals</mat-label>

    </div>


    <mat-card>
        <div>
            <table>
                <tr class="table">
                    <th>Sr#</th>
                    <th>Customer Name</th>
                    <th>Nurseries Name</th>
                    <th>Date</th>
                    <th>Sapling Type</th>
                    <th>Requested<br>Quantity</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Ahmed Ali</td>
                    <td>Seedling Orchard</td>
                    <td>11-03-2021</td>
                    <td>Multiple</td>
                    <td>300</td>
                    <td>
                        <div fxLayoutGap="10">
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </td>
             
                </tr>
                <tr>
                    <td>2</td>
                    <td>Usman</td>
                    <td>Greenhouse Stock</td>
                    <td>11-03-2021</td>
                    <td>Rose Plant</td>
                    <td>300</td>
                    <td>
                        <div fxLayoutGap="10">
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Hussain</td>
                    <td>The Tree Nursery</td>
                    <td>11-03-2021</td>
                    <td>Multiple</td>
                    <td>300</td>
                    <td>
                        <div fxLayoutGap="10">
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Haris</td>
                    <td>Shop Greenhouse</td>
                    <td>11-03-2021</td>
                    <td>Banana Plant</td>
                    <td>300</td>
                    <td>
                        <div fxLayoutGap="10">
                            <button class="btn-action" mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

    </mat-card>
</div>