<!-- <p>gardeners works!</p> -->
<div class="example-card" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20">
        <mat-label style="font-size: 20px">Individuals</mat-label>

    </div>
        <div class="border">
            <mat-card-subtitle fxFlexOffset="4" fxFlex="8" class="heading" fxFlexAlign="center">
                Sr#
            </mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="13" fxFlexAlign="center">Customer Name</mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="14" fxFlexAlign="center">Nurseries Name</mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="9" fxFlexAlign="center">Date</mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="12" fxFlexAlign="center">Sapling Type</mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="16" >Requested<br> Quantity</mat-card-subtitle>
            <mat-card-subtitle class="heading" fxFlex="13" fxFlexAlign="center">Action</mat-card-subtitle>
        </div>
        <mat-card-content >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxFlexOffset="2" fxFlex="8">1</mat-panel-title>
                    <mat-panel-title fxFlex="14">Ahmed Ali</mat-panel-title>
                    <mat-panel-title fxFlex="15">Seedling Orchard</mat-panel-title>
                    <mat-panel-title fxFlex="10">11-03-2021</mat-panel-title>
                    <mat-panel-title fxFlex="12">Multiple</mat-panel-title>
                    <mat-panel-title  >300</mat-panel-title>
                    <mat-panel-title>
                        <div fxLayout="row" fxLayoutGap="4" fxFlexOffset="7" >
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-card-content>
        <mat-card-content >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxFlexOffset="2" fxFlex="8">2</mat-panel-title>
                    <mat-panel-title fxFlex="14">Usman</mat-panel-title>
                    <mat-panel-title fxFlex="15">GreenHouse Stock</mat-panel-title>
                    <mat-panel-title fxFlex="10">11-03-2021</mat-panel-title>
                    <mat-panel-title fxFlex="12">Rose Plant</mat-panel-title>
                    <mat-panel-title  >300</mat-panel-title>
                    <mat-panel-title>
                        <div fxLayout="row" fxLayoutGap="4" fxFlexOffset="7" >
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-card-content>
        <mat-card-content >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxFlexOffset="2" fxFlex="8">3</mat-panel-title>
                    <mat-panel-title fxFlex="14">Hussain</mat-panel-title>
                    <mat-panel-title fxFlex="15">The Tree Nursery</mat-panel-title>
                    <mat-panel-title fxFlex="10">11-03-2021</mat-panel-title>
                    <mat-panel-title fxFlex="12">Multiple</mat-panel-title>
                    <mat-panel-title  >300</mat-panel-title>
                    <mat-panel-title>
                        <div fxLayout="row" fxLayoutGap="4" fxFlexOffset="7" >
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-card-content>
        <mat-card-content >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title fxFlexOffset="2" fxFlex="8">4</mat-panel-title>
                    <mat-panel-title fxFlex="14">Haris</mat-panel-title>
                    <mat-panel-title fxFlex="15">Shop GreenHouse</mat-panel-title>
                    <mat-panel-title fxFlex="10">11-03-2021</mat-panel-title>
                    <mat-panel-title fxFlex="12">Banana Plant</mat-panel-title>
                    <mat-panel-title  >300</mat-panel-title>
                    <mat-panel-title>
                        <div fxLayout="row" fxLayoutGap="4" fxFlexOffset="7" >
                            <button mat-raised-button>Approve</button>
                            <button class="mat-button" mat-button>Partial Approve</button>
                            <button class="mat-button1" mat-button>Reject</button>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>I'm visible because I am open</p>
            </mat-expansion-panel>
        </mat-card-content>
    <!-- </mat-card> -->
</div>