<div class="weather">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20">
        <img src="../../assets/Group 3467.png" style="height: 150px;width:260px">
        <div class="login-form" style="background-color: white">
            <div fxLayout="column"  fxLayoutAlign="center center">
                <div style=" padding-top: 20px;" fxLayoutGap="30" fxLayout="column">
                    <div fxFlexAlign="center" style="font-size: 25px">Forgot Password</div>
                    <div>Please enter your Email Address to </div>
                </div>
                <div>reset your Password</div>
            </div>
            <div fxLayoutGap="30" style="padding-top: 15px;">
                <div fxLayout="column" fxLayoutAlign="center center">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label fxFlexOffset="7">
                            Enter Email Address
                        </mat-label>
                        <input type="email" matInput>
                        <mat-icon matPrefix>lock</mat-icon>
                    </mat-form-field>
                    <div class="button" fxLayoutAlign="center center">
                        <button mat-raised-button color="primary" routerLink="/DigitCode"
                            style="border-radius:12px;width:100px;margin-top: 2rem;">Proceed</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>