<div class="example-card" fxLayout="column" fxLayoutGap="20">
    <div fxLayoutAlign="space-between baseline">
        <mat-label style="font-size: 20px">Species Success Ratio %</mat-label>
    </div>


    <mat-card>
        <div fxLayoutGap="20">
            <mat-form-field class="search-input" appearance="outline">
                <mat-label  fxFlexAlign="center">
                    Search
                </mat-label>
                <input type="text" matInput>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <mat-form-field class="search-input" appearance="outline">
                <mat-label  fxFlexAlign="center">
                    Search
                </mat-label>
                <input type="text" matInput>
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
        </div>
        <div>
            <table>
                <tr>
                    <th>Sr#</th>
                    <th>Species Name</th>
                    <th>Nurseries Name</th>
                    <th>Seed %</th>
                    <th>Cutting %</th>
                    <th>Seed count/kg</th>
                    <th>Benchmark %</th>
                    <th>Actual %</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>Rose</td>
                    <td>Seedling Orchard</td>
                    <td>32</td>
                    <td>32</td>
                    <td>32</td>
                    <td>80%</td>
                    <td>80%</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Banana</td>
                    <td>GreenHouse Stock</td>
                    <td>33</td>
                    <td>33</td>
                    <td>33</td>
                    <td>53%</td>
                    <td>53%</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>SunFlower</td>
                    <td>The Tree Nursery</td>
                    <td>212</td>
                    <td>212</td>
                    <td>212</td>
                    <td>32%</td>
                    <td>32%</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Apple</td>
                    <td>Shop GreenHouse</td>
                    <td>2121</td>
                    <td>2121</td>
                    <td>2121</td>
                    <td>50%</td>
                    <td>50%</td>
                </tr>
            </table>
        </div>

    </mat-card>
</div>